.default {
  cursor: default;
}

.underline-border-strong {
  border-bottom: 2px solid dodgerblue;
}

.underline-border-weak {
  border-bottom: 2px solid rgba(30, 144, 255, 0.7);
}

.white-text {
  color: white;
}
